@import url('https://fonts.googleapis.com/css?family=Exo+2|Roboto');

p {
  padding-left: 0;
}

%text-gray {
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #252F48;
}

%full-size {
  width: 100%;
  height: 100%;
}

%placeholder {
  &::placeholder {
    @extend %text-gray;
    letter-spacing: .5px;
    opacity: .48;
  }
  &:placeholder-shown {
    padding-left: 50px;
  }
}

%time {
  position: absolute;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: .43px;
  color: #9BA0AD;
}

%input {
    @extend %full-size;
    border: none;
    box-sizing: border-box;
    @extend %placeholder;
}

body {
  display: flex;
  margin: 0 auto;
  background: #F9FAFC;
  font-family: Roboto;
}

header {
  height: 60.94px;
  background-color: #FFF;
  width: calc(100vw - 80px);
  position: fixed;
  top: 0px;
  left: 80px;
  border-bottom: 1px solid #DAE4F2;
  display: flex;
  justify-items: baseline;
  justify-content: space-between;
  color: #252F48;

  &>div {
    align-content: center;
    padding: 25px;
  }


  .path {
    font-size: 13px;
    line-height: 15px;

    span, i {
      padding-right: 10px;
    }

    i {
      color: #0AD69C;
    }
  }

  .account-owner {
    display: flex;
    align-items: center;

    span {
      margin: 0 5px;
      letter-spacing: .28px;
    }

    img {
      width: 22px;
      height: 22px;
    }

    i {
      color: #01134E;
    }
  }
}

nav {
  width: 80px;
  height: 100vh;
  position: fixed;
  background-color: #01134E;
  left: 0px;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  ul {
    list-style-type: none;
    height: 300px;
    margin-top: 50px;
    padding: 0px;


    li {
      height: 50px;
      width: 100%;
      text-align: center;
      line-height: 50px;
      box-sizing: border-box;
      position: relative;

      i {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.5);
      }

      &.active {
        border-left: 4px solid #0AD69C;

        i{
          color: #FFF;
        }
      }

      .task {
        display: inline-block;
        width: 19px;
        height: 19px;
        background-color: #2A74DB;
        color: #fff;
        top: 8px;
        right: 20px;
        position: absolute;
        font: bold 9px/18px Roboto;
        border-radius: 15px;
      }
    }
  }

  img {
    width: 35px;
    height: 35px;
    margin: 18px calc((80px - 35px)/2);
  }
}

.messenger {
  width: 850px;
  height: 550px;
  margin: calc((100vh - 550px)/2) auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 30px rgba(153, 163, 174, 0.06);
  display: flex;

  &>div {
    height: 100%;
  }

  .repliers{
    background: #F7F9FC;
    border-right: #EDF0F4;
    flex-direction: column;
    width: 300px;

    .replier {
      display: flex;
      position: relative;
      height: 92px;
      align-items: center;
      justify-content: space-around;

      img {
        width: 50px;
        height: 50px;

      }

      &.active-replier {
        background-color: #fff;
        box-shadow: 0 -5px 5px rgba(224, 224, 224, 0.15), 0 5px 5px rgba(190, 200, 212, 0.2);
      }

      .replier-info {
        width: 185px;

        p{
          margin-top: 3px;
        }
        i {
          color: #9BA0AD;
          font-size: 10px;
        }
        .replier-name {
          font-family: 'Exo 2';
          color: #01134E;
          font-size: 16px;
          line-height: 19px;
          letter-spacing: .57px;
          display: inline;
          margin-right: 15px;


          &.user-online {
            &:after {
              width: 6px;
              height: 6px;
              border-radius: 50%;
              background: green;
              content: '';
              position: absolute;
              color: #0AD69C;
              margin-left: 5px;
            }
          }
        }
        .message-preview {
          @extend %text-gray;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          opacity: .43;
        }
      }


      .time {
        @extend %time;
        top: 5px;
        right: 5px;
      }
    }
  }



  .corresponding {
    width: calc(850px - 180px);
    position: relative;
    .search {
      border-bottom: 1px solid #F5F6F9;

      form {
        @extend %full-size;
        position: relative;

        i {
          position: absolute;
          top: 20px;
          left: 10px;
        }

        input {
          @extend %input;
          border-bottom: 1px solid #F5F6F9;
        }
      }
    }
    .send-message {
      border-top: 1px solid #F5F6F9;
      position: absolute;
      bottom: 0px;
      box-shadow: 0 0 20px rgba(153, 163, 174, 0.1465);
      form {
        position: relative;
        @extend %full-size;
        input {
          @extend %input;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          &.clip {
            top: 16px;
            right: 70px;
          }

          &.smile {
            top: 16px;
            right: 100px
          }

          i{
            font-size: 20px;
          }
        }
        .paper-plane {

          width: 36px;
          height: 36px;
          background-color: #fff;
          top: 7px;
          right: 15px;
          border-radius: 7px;
          box-shadow: 0 0 15px rgba(153, 163, 174, 0.2593);
          text-align: center;

          i {
            color: #0AD69C;
          }
        }
      }
    }

    .search, .send-message {
      height: 50px;
      width: 100%;

      i {
        color: #DADADA;
        font-size: 15px;
      }
    }


    .messages {

      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      height: calc(100% - 100px);

      .corresponding-time {
        font: normal 14px/18px 'Exo 2';
        letter-spacing: .5px;
        color: #CACED9;
        margin: 0 30px;
        text-align: center;
      }
      .received-message {
        background: transparent;
        width: 350px;
        position: relative;
        img {
          width: 36px;
          height: 36px;
          position: absolute;
          bottom: -5px;
          left: 5px;
          z-index: 1;
        }

        p {
          margin-left: 50px;
          color: #222428;
          display: inline-block;
        }

        .message {
          margin-left: 50px;
          margin-bottom: 15px;
        }
      }

      .own-message {
        align-self: flex-end;
      }

      .message, .own-message {
        width: 300px;
        background-color: #F7F9FC;
        font-size: 14px;
        line-height: 20px;
        margin: 10px;
        position: relative;

        p {
          width: 230px;
          padding: 5px;
          font-size: 14px;
          line-height: 20px;
          margin-left: 10px;
        }
        .message-time {
            @extend %time;
            bottom: 10px;
            right: 5px;
        }
      }
    }
  }

}
